In [1]:
# read the data 
import pandas as pd
import numpy as np
import os
os.listdir("clean_data")
train = pd.read_csv('clean_data\cleaned_train_imputed.csv')
train.head(2)

,Unnamed: 0,ID,Policy Start Date,Policy End Date,Gender,Age,First Transaction Date,No_Pol,Car_Category,Subject_Car_Colour,Subject_Car_Make,LGA_Name,State,ProductName,target
0,0,ID_0040R73,2010-05-14,2011-05-13,Male,30.0,2010-05-14,1,Saloon,Black,TOYOTA,Victoria Island,Lagos,Car Classic,0
1,1,ID_0046BNK,2010-11-29,2011-11-28,Female,79.0,2010-11-29,1,JEEP,Grey,TOYOTA,Victoria Island,Lagos,Car Classic,1

In [10]:
train.target.value_counts()

0    10624
1     1455
Name: target, dtype: int64

In [2]:
# select the columns well need for the baseline
x = train[['Gender','Age','No_Pol', 'Car_Category','Subject_Car_Colour', 'Subject_Car_Make', 
           'LGA_Name','State','ProductName']]
y = train.target

In [3]:
# clean x
from sklearn.preprocessing import LabelEncoder
for i in x.columns:
    if x[i].dtypes == "object":
        encode = LabelEncoder()
        j = encode.fit_transform(x[i])
        x[i] = j

<ipython-input-3-6454f8d24b8f>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i] = j

In [5]:
# create a logistic model
from sklearn.linear_model import LogisticRegression as LR
from sklearn.metrics import confusion_matrix,accuracy_score
from sklearn.model_selection import train_test_split

x_train,x_test,y_train,y_test  =  train_test_split(x,y)

In [6]:
# baseline model
model = LR()
model.fit(x_train,y_train)
preds = model.predict(x_test)

C:\Users\Maria\AppData\Roaming\Python\Python39\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [9]:
confusion_matrix(preds,y_test) # terrible model

array([[2644,  375],
       [   1,    0]], dtype=int64)